<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bossstore_003.png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>y</key>
			<integer>202</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>287</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>286</integer>
			<key>originalHeight</key>
			<integer>294</integer>
		</dict>
		<key>bossfire_004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>566</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>601</integer>
			<key>originalHeight</key>
			<integer>159</integer>
		</dict>
		<key>bossstore_001.png</key>
		<dict>
			<key>x</key>
			<integer>429</integer>
			<key>y</key>
			<integer>202</integer>
			<key>width</key>
			<integer>272</integer>
			<key>height</key>
			<integer>290</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>286</integer>
			<key>originalHeight</key>
			<integer>294</integer>
		</dict>
		<key>bossstore_002.png</key>
		<dict>
			<key>x</key>
			<integer>702</integer>
			<key>y</key>
			<integer>202</integer>
			<key>width</key>
			<integer>286</integer>
			<key>height</key>
			<integer>294</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>286</integer>
			<key>originalHeight</key>
			<integer>294</integer>
		</dict>
		<key>magicring_001.png</key>
		<dict>
			<key>x</key>
			<integer>568</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>173</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>lightstrike_005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>202</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>210</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>145</integer>
			<key>originalHeight</key>
			<integer>213</integer>
		</dict>
		<key>lightstrike_006.png</key>
		<dict>
			<key>x</key>
			<integer>742</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>145</integer>
			<key>originalHeight</key>
			<integer>213</integer>
		</dict>
	</dict>
</dict>
</plist>