<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bossfire_001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>590</integer>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>601</integer>
			<key>originalHeight</key>
			<integer>159</integer>
		</dict>
		<key>firedevilblast_006.png</key>
		<dict>
			<key>x</key>
			<integer>594</integer>
			<key>y</key>
			<integer>346</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>bossfire_002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>592</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>601</integer>
			<key>originalHeight</key>
			<integer>159</integer>
		</dict>
		<key>bossfire_003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>314</integer>
			<key>width</key>
			<integer>588</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>601</integer>
			<key>originalHeight</key>
			<integer>159</integer>
		</dict>
		<key>fireball_001.png</key>
		<dict>
			<key>x</key>
			<integer>929</integer>
			<key>y</key>
			<integer>216</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>fireball_002.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>333</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>fireball_003.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>fireball_004.png</key>
		<dict>
			<key>x</key>
			<integer>929</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>firedevilblast_001.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>firedevilblast_002.png</key>
		<dict>
			<key>x</key>
			<integer>594</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>firedevilblast_003.png</key>
		<dict>
			<key>x</key>
			<integer>594</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>firedevilblast_004.png</key>
		<dict>
			<key>x</key>
			<integer>594</integer>
			<key>y</key>
			<integer>231</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>firedevilblast_005.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>lightstrike_004.png</key>
		<dict>
			<key>x</key>
			<integer>835</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>145</integer>
			<key>originalHeight</key>
			<integer>213</integer>
		</dict>
		<key>lightstrike_003.png</key>
		<dict>
			<key>x</key>
			<integer>781</integer>
			<key>y</key>
			<integer>215</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>145</integer>
			<key>originalHeight</key>
			<integer>213</integer>
		</dict>
	</dict>
</dict>
</plist>