<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>yemanshouren_attack_012.png</key>
		<dict>
			<key>x</key>
			<integer>584</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>217</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>-15.5</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>xiaoemo_run_001.png</key>
		<dict>
			<key>x</key>
			<integer>896</integer>
			<key>y</key>
			<integer>375</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>xiaoemo_run_002.png</key>
		<dict>
			<key>x</key>
			<integer>453</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>xiaoemo_run_003.png</key>
		<dict>
			<key>x</key>
			<integer>368</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>xiaoemo_run_004.png</key>
		<dict>
			<key>x</key>
			<integer>731</integer>
			<key>y</key>
			<integer>377</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>xiaoemo_run_005.png</key>
		<dict>
			<key>x</key>
			<integer>812</integer>
			<key>y</key>
			<integer>375</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>xiaoemo_run_006.png</key>
		<dict>
			<key>x</key>
			<integer>494</integer>
			<key>y</key>
			<integer>144</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>yemanshouren_attack_001.png</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>32</real>
			<key>offsetY</key>
			<real>-31</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_002.png</key>
		<dict>
			<key>x</key>
			<integer>259</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>39</real>
			<key>offsetY</key>
			<real>-30.5</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>57</real>
			<key>offsetY</key>
			<real>-31</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>163</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>19.5</real>
			<key>offsetY</key>
			<real>-19</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_005.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>169</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>20.5</real>
			<key>offsetY</key>
			<real>-18.5</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_006.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>14.5</real>
			<key>offsetY</key>
			<real>-18.5</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_007.png</key>
		<dict>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>311</integer>
			<key>width</key>
			<integer>153</integer>
			<key>height</key>
			<integer>198</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_008.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>215</integer>
			<key>offsetX</key>
			<real>22</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_009.png</key>
		<dict>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>192</integer>
			<key>height</key>
			<integer>215</integer>
			<key>offsetX</key>
			<real>27</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_010.png</key>
		<dict>
			<key>x</key>
			<integer>380</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>193</integer>
			<key>height</key>
			<integer>219</integer>
			<key>offsetX</key>
			<real>27.5</real>
			<key>offsetY</key>
			<real>18.5</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_attack_011.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>217</integer>
			<key>height</key>
			<integer>268</integer>
			<key>offsetX</key>
			<real>-15.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_dead_006.png</key>
		<dict>
			<key>x</key>
			<integer>577</integer>
			<key>y</key>
			<integer>247</integer>
			<key>width</key>
			<integer>197</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>-61</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>yemanshouren_dead_005.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-43</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
	</dict>
</dict>
</plist>