<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>zz_toushiche_run_0001.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>-19</real>
			<key>offsetY</key>
			<real>-17</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_run_0002.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>156</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-19</real>
			<key>offsetY</key>
			<real>-17.5</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_run_0003.png</key>
		<dict>
			<key>x</key>
			<integer>275</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>-19</real>
			<key>offsetY</key>
			<real>-17</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_stand_0001.png</key>
		<dict>
			<key>x</key>
			<integer>275</integer>
			<key>y</key>
			<integer>171</integer>
			<key>width</key>
			<integer>238</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-22</real>
			<key>offsetY</key>
			<real>-17.5</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_stand_0002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>351</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>-25</real>
			<key>offsetY</key>
			<real>-17</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_stand_0003.png</key>
		<dict>
			<key>x</key>
			<integer>275</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>241</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>-19.5</real>
			<key>offsetY</key>
			<real>-26.5</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_stand_0004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>175</integer>
			<key>width</key>
			<integer>266</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>-15</real>
			<key>offsetY</key>
			<real>-26.5</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_stand_0005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>273</integer>
			<key>height</key>
			<integer>173</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-27.5</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
		<key>zz_toushiche_stand_0006.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>228</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-21</real>
			<key>offsetY</key>
			<real>-17.5</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>234</integer>
		</dict>
	</dict>
</dict>
</plist>