<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>icon_agi_01.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_02.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_03.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_04.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_05.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_06.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_07.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_08.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_agi_09.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_fire_01.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_fire_02.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_fire_03.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_ice_01.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_ice_02.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_ice_03.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_light_01.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_light_02.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_light_03.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_lock.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_01.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_02.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_03.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_04.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_05.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_06.png</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_07.png</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_08.png</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_multi_09.png</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_normal.png</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_pow_01.png</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_pow_02.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_pow_03.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_pow_04.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_pow_05.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_pow_06.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>icon_pow_07.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
	</dict>
</dict>
</plist>